input {
    width: 20%;
    padding: 0.5rem;
    margin: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

textarea {
    width: 20%;
}